
@{
    ViewBag.Title = "Poster";
    Layout = "";
}
<link href="~/Content/w3.css" rel="stylesheet" />
<div class="row" style="height:115px;background-color:black;margin-top:-1%">
    <div class="col-lg-8" style="color:white;font-size:27px;">
        <h1> IoT Security Aspects</h1>
    </div>
    <div class="col-lg-4" style="float:right;margin-top:-4%;margin-right:10px;">
        <img src="~/images/cropped.png" />
    </div>
</div>
<div class="row" style="background-color:darkred;color:white;font-size:17px;">
    <label class="col-lg-4" style="margin-left:10%">Student: Ammar Bassam Aldabk</label>
    <label class="col-lg-4" style="margin-left:10%">Supervisor: Konstantinos Delistavrou</label>
    <label class="col-lg-4" style="margin-left:10%">Phone number: 0532448000</label>
</div>
<div class="w3-row">
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Warehouse Top Layout</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/topView.PNG" style="height:200px;"/>
            
        </div>
        <footer class="w3-container w3-blue">
            <p>From Top view layout , user can see the product under unit and on click on unit he can see the product details</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Product details inside unit</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/productDetails.PNG" style="height:200px;"/>
        </div>

        <footer class="w3-container w3-blue">
          <p>After click on unit product details will show in grid view. In this user can see quantity , price , product image.</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:31%;margin-top:1%;margin-left: 0.7%;">
        <header class="w3-container w3-blue">
            <h2>Manage User </h2>
        </header>

        <div class="w3-container">
            <img src="~/images/User.PNG" style="height:200px;" />
        </div>

        <footer class="w3-container w3-blue">
            <p>From this screen user can create user for the application and map to the role.</p>
        </footer>
    </div>
    
</div>

<div class="w3-row">
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Manage UserRoles Mapping</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/UserRoleapping.PNG" style="height:200px;"/>
        </div>
        <footer class="w3-container w3-blue">
            <p>From this screen , user can map perticular user to multiple roles</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Manage RoleActions Mapping</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/UserRoleMapping.PNG" style="height:200px;" />
        </div>

        <footer class="w3-container w3-blue">
            <p>From this screen , user can map perticular role to multiple actions</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:31%;margin-top:1%;margin-left: 0.7%;">
        <header class="w3-container w3-blue">
            <h2>Order Entry in Warehouse </h2>
        </header>

        <div class="w3-container">
            <img src="~/images/OrderEntry.Png" style="height:200px;" />
        </div>

        <footer class="w3-container w3-blue">
            <p>From this screen user can do entry of products which are coming in warehouse.</p>
        </footer>
    </div>

</div>

<div class="w3-row">
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Order Exit from Warehouse</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/OrderExit.Png" style="height:200px;" />
        </div>
        <footer class="w3-container w3-blue">
            <p>From this screen , user can do entry from order exit from warehouse</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:33%;margin-top:1%;margin-left: 1%;">
        <header class="w3-container w3-blue">
            <h2>Manage Product</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/Product.PNG" style="height:200px;" />
        </div>

        <footer class="w3-container w3-blue">
            <p>From this screen , user can add new product record for warehouse</p>
        </footer>
    </div>
    <div class="w3-quarter w3-card-2" style="width:31%;margin-top:1%;margin-left: 0.7%;">
        <header class="w3-container w3-blue">
            <h2>Manage Unit</h2>
        </header>

        <div class="w3-container">
            <img src="~/images/Unit.PNG" style="height:200px;" />
        </div>

        <footer class="w3-container w3-blue">
            <p>From this screen , user can do entry for units in warehouse.</p>
        </footer>
    </div>

</div>

