
@{
    ViewBag.Title = "FirstPage";
}

<div class="row">
    <div class="col-md-9">
        <img src="~/Images/restaurants-cartoon.png" />
    </div>
    <div class="col-md-3" style="font-size: 68px;text-shadow: 1px 1px 1px;color:crimson">
        Let's Go
    </div>
</div>
