
@{
    ViewBag.Title = "Unauthorized";
}

<h2 class="page-title">
    <i class="glyphicon glyphicon-alert"></i> Alert
</h2>
<hr />

<div class="callout callout-danger" style="width:50%;margin-left:20%;box-shadow:-3px 3px 7px 6px gray;border: 1px solid white;border-radius: 2% 2%;">
    <h4><i class="glyphicon glyphicon-alert"></i> Unauthorised</h4>
    <h5>
        It appears that you don't have permission to access this page. Please make sure you're authorized to view this content. If you think you should be able to view this page.
    </h5>
</div>

